@media only screen and (min-device-width: 480px) and (max-device-width: 768px){

    body, html{
        margin: 0;
    }


    .hero-text > h1{
        font-size: 4em;
        line-height: 1em;
    }
    .hero-text > p{
        font-size: 1.2em;
        line-height: 1em;
    }

    .pentruNavFront{
        font-size: 3vw;
        padding-left: 0;
        font-weight: normal;
    }

    .pentruSectionFront > h2{
        font-size: 1.7em;
        line-height: 1.2em;
        margin-bottom: 3em;
    }

    .pentruAsideFront{
        margin: 2em ;
        float: left;
        width: 40%;
    }

    .pentruDivFront{
        margin: 1em;
    }

    .pentruAsideFront2{
        margin: 2em;
        float: right;
        width: 40% ;
    }

    .butonMiddle{
        margin-left: 0;
    }

    .pentruAside2{
        width: 80%;
        float: none;
        margin-bottom: 4vh;
    }

    .pentruAside2 > h2{
        font-size: 3vw;
    }

    .sectionContainer{
        max-width: 700px;
        margin-left: 2em;
        padding-top: 0;
        display: inline;
    }

    .sectionContainer > div > h2{
        text-align: left;
        margin-left: 1em;
    }

    .pentruFrontHr{
        margin-left: 3em;
    }

    .card{
        width: 30%;
        margin-top: 2em;
        margin-right: 2em;
    }

    .articleFront{
        padding: 0;
        max-height: none;
    }

    .headingDespre{
        padding: 2em 0 1em 0;
    }

    .columnDespre{
        width: 80%;
    }
    .butonMiddle{
    }

    /*
    ################################### FrontPage ##################################
    */

    div#fereastra{
        margin-top: 2vh;
        width: 80vw;
        animation: mymove 9s ;
    }

    @keyframes zi {
        100% {
            width: 1em;
            height: 1em;
            top: 0px;
            right: 10vw;
            left: 80vw;
        }
        from {
            background-color: red;
        }
        to {
            background-color: yellow;
        }
    }

    .universalHeading{
        font-size: 6vw;
    }

    .columnForm0{
        width: 5%;
    }

    .columnForm{
        width: 70%;
    }

    .iframeStyle{
        height: auto;
    }

    .harta{
        height: auto;
        width: 80vw;
        margin-left: 8vw;
    }

    /*
    ################################### Contact ##################################
     */

    .columnForm{
        padding: 0;
        width: 50%;
    }

    figcaption{
        font-size: 2.0vw;
    }

    .columnForm2{
        margin-right: 0;
        width: auto;
        float: none;
    }

    .forAbout{
        width: 100%;
        padding: 1vw;
    }


    /*
   ################################### Despre ##################################
    */

    .pentruNavFront{
        display: block;
    }

    .pentruAside2{
        float: right;
        margin: 4vh 5vw 6vh 0;
    }

    .sectionContainer > div > h2{
        font-size: 4vw;
        line-height: 8vw;
    }

    /*
   ################################### Galerie ##################################
    */

    /*
  ################################### Contul Meu ##################################
   */

    .columnFormView{
        float: none;
        width: auto;
        padding: 0;
        margin: 0 0 10vw 25vw;
    }



    .grid-container{
        display: block;
        padding: 0;
        margin: 0;
        grid-template-columns: auto;
    }

    .grid-item{
        padding: 0;
        font-size: 3vw;
        text-align: inherit;
    }

    .columnFormCeva{
        width: auto;
        padding: 0;
    }
    small{
        font-size: 2vw;
    }

    /*
   ################################### palatulParlamentului ##################################
    */
}


/* Footer Responsive */

@media (max-width: 768px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}