<div class="card">
    <a href="/galerie"> <img src="/uploads/<%= producatori[i].poza %>" alt="nu are poza"  class="showCard"> </a>
    <div class="containerFront">
        <h3>
            <%= producatori[i].nume %>
            <%= producatori[i].prenume %>
        </h3>
        <p> Produse:  <%= producatori[i].produse %> </p>
    </div>
</div>