<div class="card">
    <a href="/galerie"> <img src="/uploads/<%= clienti[j].poza %>" alt="nu are poza"  class="showCard"> </a>
    <div class="containerFront">
        <h3>
            <%= clienti[j].nume %>
            <%= clienti[j].prenume %>
        </h3>
        <p> Produse cerute:  <%= comenzi[i].produse %> </p>
    </div>
</div>