<!DOCTYPE html>
<html lang="ro">


<head>
    <%include ../fragmente/headLinks.ejs%>

    <title> 404 </title>

    <meta charset="UTF-8">
    <meta name="keywords" content="nume, prenume, subiect, feedback, descriere">
    <meta name="description" content="Pagina desemnata pentru completarea de formulare pentru a lua legatura cu administratorii site-ului si a trimite feedback sau pentru a cere diverse informatii">
    <meta name="author" content="Arghire Gabriel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>

    </style>
</head>

<body>
<header>
    <% include ../fragmente/header.ejs %>
</header>

<script src="/javascript/mobileMenu.js"></script>

<main>
    <h1 class="universalHeading">
        Această pagină este inexistentă
    </h1>
    <p class="universalHeading">
        Dragă utilizator, încerci să accesezi o resursă care nu este disponibilă pe site-ul nostru.
    </p>
    <div class="columnForm"></div>
    <button class="butonOut" onclick="window.location.href = '/'"> Revino la pagina inițială </button>
</main>

<div class="spatiereJos"></div>

<div class="spatiereJos"></div>
<div class="spatiereJos"></div>
<div class="spatiereJos"></div>
<footer class="footer-distributed ">
    <% include ../fragmente/footer.ejs %>
</footer>

</body>

</html>