<!DOCTYPE html>
<html lang="ro">
<head>
    <%include ../fragmente/headLinks.ejs%>
    <%include ../fragmente/prod.ejs%>
    <%include ../fragmente/userName.ejs%>

    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title> Comanda </title>

    <meta charset="UTF-8">
    <meta name="keywords" content="palat, vizita, adulti, bilete, tarif">
    <meta name="description" content="Pagina desemnata pentru vizualizarea atractiei turistice Palatul Parlamentului">
    <meta name="author" content="Arghire Gabriel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<header>
    <% include ../fragmente/header.ejs %>
</header>

<script src="/javascript/mobileMenu.js"></script>
<script src="javascript/globale.js"></script>
<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="javascript/onloadComanda.js"></script>

<main>
    <h1 class="universalHeading">
        Comandă produse de la producători
    </h1>
</main>

<!--
TODO Sterge enctype de mai jos
-->
<section>
    <div class="row">
        <div class="columnForm0">
        </div>

        <div class="columnForm">
            <h3 class="headingComanda">Formular comandă</h3>
            <% if(!locals.rsstatus) { %><!-- verific daca status e definit-->
            <form  method="post" id="javascript_form">
                <p>
                    <label>
                        <fieldset> <legend>
                                Ce doriți:</legend>
                            <div class="breakElements">
                                <input class="" type="checkbox" name="produse" value="castraveti" checked> Castraveți
                                <div class="spatiuJos">
                                </div>
                                <span id="inputCantitateUnu">Cantitate</span>
                            </div>
                            <div class="breakElements">
                                <input type="checkbox" name="produse" value="rosii"> Roșii
                                <div class="spatiuJos">
                                </div>
                                <span id="inputCantitateDoi">Cantitate</span>
                            </div>
                            <div class="breakElements">
                                <input type="checkbox" name="produse" value="branza"> Brânză
                                <div class="spatiuJos"></div>
                                <span id="inputCantitateTrei">Cantitate</span>
                            </div>
                        </fieldset>
                    </label>
                </p>
                <p>
                    Selectează producătorul
                </p>
                <p>
                    <select id="numeProdCom" name="producator" multiple>
                    </select>
                </p>
                <p>
                    <input id="listenCom" type="submit" value="Comandă" >
                </p>
            </form>
            <% } else if(rsstatus=="ok"){ %>
                <p>Date introduse</p>
            <% } else {%>
                <p>Eroare</p>
            <% } %>
        </div>

    </div>

</section>

<footer class="footer-distributed ">
    <% include ../fragmente/footer.ejs %>
</footer>

</body>
</html>