<!DOCTYPE html>
<html lang="ro">


<head>
    <% include ../fragmente/headLinks.ejs %>
    <% include ../fragmente/prod.ejs %>

    <title> Galerie </title>

    <meta charset="UTF-8">
    <meta name="keywords" content="obiective, palat, cele mai, munti, galerie">
    <meta name="description" content="Pagina desemnata pentru vizualizarea tuturor atractiilor turistice adaugate pe acest site, de la cele mai indragite, pana la cele mai necunoscute. Poze cu diverse cladiri si peisaje de pe teritoriul Romaniei">
    <meta name="author" content="Arghire Gabriel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>

    </style>
</head>

<body>
<!--
        ############################################################### Header ##################################
    -->

    <header>
        <% include ../fragmente/header.ejs %>
    </header>

    <script src="/javascript/mobileMenu.js"></script>
    <script src="javascript/galeryPage.js"></script>
<!--
        ############################################################### Header ##################################
    -->

    <h1 class="universalHeading"> Descoperă producători din România </h1>

    <nav class="pentruNavShow">
        <ul>
            <li>
                <button onclick="showN()" class="butonGradient" id="noiProdGal"> Cei mai noi producători &hearts;</button>
            </li>
            <li>
                <a href="#" onclick="showN2()" id="maiProdGal">Cei mai producători </a>
            </li>
            <li>
                <a href="#" id="ajaxButton" onclick="forAjax()"> Arată producatori.json </a>
            </li>
        </ul>

    </nav>

<script src="/javascript/galeryPage.js"></script>


    <main class="sectionColor" id="descopera1">
        <div class="sectionContainer">
            <div>
                <h2>
                    Producători
                </h2>
                <hr class="pentruFrontHr">
            </div>
            <br>
            <div id="idSection">
                <% for (var i = 0; i < producatori.length; i++) { %>
                <% if(i % 4 == 0 && i != 0){ %>
                    <div class="spatiuJos">
                    </div>
                <% }%>
                    <%include ../fragmente/template_user.ejs%>
                <% } %>
            </div>
            <div id="idSection2" class="showNone">
                <%function sortAfterDateee(vectorProd) {
                    return vectorProd.sort(function (a, b) {
                        if (a.dataInreg < b.dataInreg)
                            return 1;
                        return -1;
                    });
                } %>
                <%var sorted = sortAfterDateee(producatori);%>
                <% for (var i = 0; i < sorted.length; i++) { %>
                    <% if(i % 4 == 0 && i != 0){ %>
                        <div class="spatiuJos">
                        </div>
                    <% }%>
                    <%include ../fragmente/template_user.ejs%>
                <% } %>
            </div>
            <div id="idSection3" class="showNone">
                <%function returnNrProddd(vectorProd) {
                    const vectorProducatori = vectorProd.sort(function (a, b) {
                        if (a.produse > b.produse)
                            return 1;
                        return -1;
                    });
                    return vectorProducatori;
                }%>
                <%var mostProd = returnNrProddd(producatori);%>
                <% for (var i = 0; i < mostProd.length; i++) { %>
                    <% if(i % 4 == 0 && i != 0){ %>
                        <div class="spatiuJos">
                        </div>
                    <% }%>
                    <%include ../fragmente/template_user.ejs%>
                <% } %>
            </div>
        </div>
    </main>


<!--
############################################################### Footer ##################################
-->
<footer class="footer-distributed">
        <% include ../fragmente/footer.ejs %>
</footer>
<!--
############################################################### Footer ##################################
-->


</body>

</html>