<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Pagina principala</title>

    <meta charset="utf-8">
    <meta name="author" content="Ionel"/>
    <% include ../fragmente/headLinks.ejs %>
</head>
<body>

<header>
    <% include ../fragmente/header %>
</header>

<main class="forLogout">
    Ai fost delogat!
</main>

<footer class="footer-distributed">
    <% include ../fragmente/footer %>
</footer>

</body>
</html>