<!DOCTYPE html>
<!--
    Link: https://github.com/JusticeBringer/JusticeBringer.github.io
-->
<html lang="ro">

<head>
    <% include ../fragmente/headLinks.ejs %>
    <%include ../fragmente/prod.ejs%>
    <%include ../fragmente/userName.ejs%>

    <title> AiComerț </title>

    <meta name="keywords" content="turist, atracții turistice, dumneavoastră, vizita, despre">
    <meta name="description" content="Prima pagina a site-ului -Turist in Romania-. Aici veti gasi atracții turistice din Romania recomandate, o scurta descriere despre a site-ului si o optiune de a fi un utilizator">
</head>

<body>
<!--
    ############################################################### Header ##################################
-->

<header>
    <% include ../fragmente/header.ejs %>
</header>

<script src="/javascript/mobileMenu.js"></script>
<script src="/javascript/topuriProd.js"></script>
<script src="../../javascript/globale.js"></script>

<main>
    <h1 class="universalHeading">Topuri ale producătorilor</h1>
</main>


<nav class="pentruNavShow">
    <ul>
        <li>
            <a href="#" onkeyup="showNoiProd(test)" id="noiProd">Cei mai noi producători </a>
        </li>
        <li>
            <a href="#" onkeydown="sortAfterNrProduse(event)" id="maiProd">Cei mai producători </a>
        </li>
        <li>
            <a href="#" onclick="showTopProd(test)" id="apreciatiProd">Cei mai apreciați &hearts; </a>
        </li>
        <li>
            <a href="#"> Cei mai vizitați &#9872; </a>
        </li>
        <li>
            <a href="#"> Cei mai cunoscuți &#10003; </a>
        </li>
        <li>
            <a href="#"> Cei mai îndepărtați &#10005;</a>
        </li>
        <li>
            <a href="#"> Cei mai ... &#9888;</a>
        </li>
        <li>
            <a href="#" id="actualizeazaProd"> Actualizează lista </a>
        </li>
    </ul>

</nav>

<section class="facClear">
    <div class="columnTop">

    </div>
    <div class="columnTop">
        <h2 id="topName">Topul producătorilor ... </h2>

        <ol id="listaDeProd" class="pentruTopList">

        </ol>

    </div>
</section>

<section class="facClear">
        <p id="detaliiPrimulProd"> </p>

</section>

<!--
    ############################################################### Footer ##################################
-->

<footer class="footer-distributed">
    <% include ../fragmente/footer.ejs %>
</footer>
<!--
    ############################################################### Footer ##################################
-->
</body>

</html>